<div class="row justify-content-sm-center">
  <h1>Judge List</h1>
</div>

<div class="row justify-content-sm-center">
  <div class="col-sm-2">
    <div *ngFor="let judge of judges">
      <a [routerLink]="['/judge-edit', judge.id]">{{judge.firstName}} {{judge.lastName}}</a>
    </div>
  </div>
</div>

<br/>

<div class="row justify-content-sm-center">
  <button class="btn btn-success" [routerLink]="['/judge-add']">
    Add Judge
  </button>
  <button class="btn btn-primary" [routerLink]="['/judge-search']">
    Search
  </button>
</div>
